@import url("https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Jost", sans-serif;
}
nav {
    z-index: 10001 !important;
}
.gradientbg {
    background: rgb(238, 154, 229);
    background: linear-gradient(
        172deg,
        rgba(238, 154, 229, 1) 0.53%,
        rgba(89, 97, 249, 1) 80%
    );
}

.img100 {
    width: 100%;
}
.featureCard {
    border-radius: 35px;
    background: rgba(255, 255, 255, 0.04);
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.15);
}
.priceCard {
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.15);
}
